* {
	margin:0;
	padding:0;
}
#calendar_table a {
    text-decoration:none;	
	color:#6E6E6E;
}
#calendar_table {
	border-collapse:collapse;
	background-color:#99ffff;
}
#calendar_table form {
    padding:3px;	
}
#calendar_firstRow {
	width:100%;
}
#calendar_table .today {
	background-color:#FFFF00;
}
#calendar_table a:hover {
	color:#C90808;
}




